version: '3.8'

services:
  websocket-evolution:
    image: andersonadelino/websocket-evolution:latest
    environment:
      - EVOLUTION_API_URL=https://evo.andersonadelino.com.br
      - EVOLUTION_API_KEY=6b47d0c7d98d98e0215598179a99216c
      - EVOLUTION_INSTANCE_NAME=nome_da_sua_instancia
      - WEBSOCKET_MODE=global
      - PORT=3000
    ports:
      - "3000:3000"
    networks:
      - evolution-network
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
      rollback_config:
        parallelism: 1
        delay: 10s
      placement:
        constraints:
          - node.role == manager

networks:
  evolution-network:
    driver: overlay
    attachable: true